@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body{
    font-family: 'Inter',sans-serif;
    background-color: #FFFFF;
}

@theme{
    --color-primary: #FFEFD5;
    --color-text-primary: #00000;
    --color-navbar: #FADAA7;
    --color-footer: #8A5500;
    --color-circle: #797979;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.navbar-fixed{
    @apply fixed z-999 bg-white/75;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1)
}

.humberger-line{
    @apply w-[30px] h-0.5 my-2 block bg-black;
}

.humberger-active > span:nth-child(1){
    @apply origin-top-left rotate-45;
}
.humberger-active > span:nth-child(2){
    @apply scale-0;
}
.humberger-active > span:nth-child(3){
    @apply origin-bottom-left -rotate-45;
}